
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 420px) {
    h2 { font-size: 2.5rem; padding-bottom: 1rem; }
    p{ font-size: .9rem; }
    .paragraph { width: 90%; font-size: 1.3rem; }

    #section-landing {
        height: 80vh;
    }

    #landing-text {
        width: 80%;
        top: 18%;
        left: 5%;
        right: 0;
        line-height: 45px;
        margin-left: auto;
        margin-right: auto;    
        font-size: 2.5rem;
    }


    .project-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: inline-block;
        transition: 0.4s;
        padding: 1rem 0;
    }

    .project-box {
        padding: 1rem;
        padding-top: 7rem;
        text-align: center;
    }

    .description {
        position: relative;
        width: 90%;
    }

    .description p,
    .description h3 {
        text-align: left;
        padding-bottom: .5rem;
    }

    .project-btns a {
        margin: 0.5rem;
        width: 60%;
        padding: 1.5rem;
    }

    .project-svg {
        height: 35px;
        width: 35px;
        position: absolute;
        left: 12px;
        top: 12px;
    }

    .contact-btn {
        margin: 0.5rem;
    }

    .contact-svg {
        display: none;
    }


}


/* LANDING QUERIES */

@media only screen and (max-width : 420px) {

    #section-landing {
        height: 80vh;
    }

    #landing-text {
        width: 80%;
        top: 15%;
        left: 5%;
        right: 0;
        line-height: 60px;
        margin-left: auto;
        margin-right: auto;    
        font-size: 3.4rem;
    }
}

@media only screen and (max-width : 376px) {

    #section-landing {
        height: 80vh;
    }

    #landing-text {
        width: 80%;
        top: 15%;
        left: 5%;
        right: 0;
        line-height: 55px;
        margin-left: auto;
        margin-right: auto;    
        font-size: 3rem;
    }
}
@media only screen and (max-width : 320px) {

    #section-landing {
        height: 80vh;
    }

    #landing-text {
        width: 80%;
        top: 18%;
        left: 5%;
        right: 0;
        line-height: 45px;
        margin-left: auto;
        margin-right: auto;    
        font-size: 2.5rem;
    }
}

    
    /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    