body {
    letter-spacing: 3px;
}

h1 {
    display: inline-block;
}


/* RESUSABLE */

.section-heading {
    font-size: 3rem;
    text-align: center;
    padding-top: 80px;
}

.angled-box {
    background: linear-gradient(60deg
        ,rgb(235, 211, 76) 0%
        ,rgb(235, 211, 76) 30%
        ,rgb(241, 179, 0) 30%
        ,rgb(241, 179, 0) 70%
        ,rgb(239, 103, 0) 70%
    );
    height: 300px;
    width: 100%;
    clear: both;
}

.icon {
    font-size: 6rem;
    position: absolute;
    right: 50%;
    bottom: 3%;
    color: rgb(47, 53, 55);
}

/* LANDING PAGE */

.landing {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../imgs/paint-gray-hero.jpeg);
    z-index: 100;
}


.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 6rem;
    width: 80%;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(116, 56, 0, 0.767);
    mix-blend-mode: color-burn;
}

/* ABOUT */

.section-about {
    height: 100vh;
    background-color: #f5f5f5;
    margin-top: -40px;
}

.section-about p {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 3px;
}

