/* -------------------- */
/* -------GLOBAL------- */
/* -------------------- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Fugaz One', cursive;
}

h1, h2 {
    text-transform: uppercase;
}

h2, h3, p {
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 2rem 0;
}


.container {
    width: 80%;
    margin: 0 auto;
}


/* ------------------- */
/* ------LANDING------ */
/* ------------------- */
#section-landing {
    background-image: url("../imgs/paint-gray-hero.jpeg");
    /* background-color: rgb(199, 77, 61); */
    background-size: cover;
    background-position: center;
    /* background-blend-mode: hard-light; */
    height: 95vh;
}

#landing-text {
    width: 65%;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
    font-size: 5rem;
    font-weight: 600;
    color: rgb(88, 28, 0);
    mix-blend-mode: color-burn;
}


/* --------------------------- */
/* ------PORTFOLIO INTRO------ */
/* --------------------------- */

#section-portfolio-intro {
    background-color: rgb(238, 238, 238);
}

#section-portfolio-intro .container {
    width: 50%;

}

/* ------------------- */
/* ------PORTFOLIO---- */
/* ------------------- */
#section-portfolio {
    background-color: gainsboro;
}


.description,
.image-div {
    display: inline-block;
}

.description {
    width: 30%;
}

.image-div {
    width: 65%;
}

.project-image {
    height: 400px;
    float: right;
}

